<h1> Edit this Post</h1>

<%= form_for @post do |f| %>
    Title: <%= f.text_field :title %>
    Camera: <%= f.text_field :camera %>
    Description: <%= f.text_field :desc %>

    <%= f.submit "Save Changes" %>

<% end %>

<%= link_to "Back to posts", posts_path %>