<h1>Blog Posts</h1>
<ul>
    <% @posts.each do |p| %>
        <li>
            <strong> <%= p.title %> </strong> -- <%= p.camera %> <%= p.desc%> -- <%= link_to "Show", post_path(p) %>
        </li>
    <% end %>
</ul>

<%= link_to "Make a post", new_post_path %>