<h1> Enter a new Post</h1>

<%= form_for @post do |f| %>
    Title: <%= f.text_field :title %>
    Camera: <%= f.text_field :camera %>
    Description: <%= f.text_field :desc %>

    <%= f.submit "submit post" %>

<% end %>

<%= link_to "Back to posts", posts_path %>