    <h1>Title: <%= @post.title %> </h1>
    <p><strong>Camera:</strong> Used:<%= @post.camera %></p>
    <p><strong>Description:</strong> <%= @post.desc %></p>


    <%= link_to "Back to posts", posts_path %><br>
    <%= link_to "Edit", edit_post_path(@post) %><br>

    <%= link_to "Delete this Post!", :post, method: :delete, data: { confirm: 'Are you sure you want to delete it?' } %>
